@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fortune Teller MVC</h1>
    <p class="lead">Step up joker to Learn Your Fate</p>

    <p class="btn btn-primary btn-lg">@Html.ActionLink("Start", "Create", "Customers")</p>
</div>

